.login-padding {
  padding-top: 150px;
}

.logo {
  float: left;
  max-width: 350px !important;
  max-height: 50px !important;
}

.div-logo {
  margin-bottom: 20px;
  float: left;
  max-width: 350px !important;
  max-height: 50px !important;
}

.btn-success {
  background-color: #f4917c !important;
  border-color: #f4917c !important;
}

.btn-facebook {
  background: #3B5998;
  border-radius: 0;
  color: #fff;
  border-width: 1px;
  border-style: solid;
  border-color: #263961; 
}
.btn-facebook:link, .btn-facebook:visited {
  color: #fff;
}
.btn-facebook:active, .btn-facebook:hover {
  background: #263961;
  color: #fff;
}

.pl0 {
  padding-left: 0px !important;
}
.pt15 {
  padding-top: 15px;
}